.grid{
    display: grid;
}
.g-col-2{
    grid-template-columns: repeat(2,1fr);
}
.g-col-3{
    grid-template-columns: repeat(3,1fr);
}
.g-col-4{
    grid-template-columns: repeat(4,1fr);
}
.g-col-5{
    grid-template-columns: repeat(5,1fr);
}
.g-col-6{
    grid-template-columns: repeat(6,1fr);
}
